<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RestoranEntities" connectionString="metadata=res://*/Models.ModelRestoran.csdl|res://*/Models.ModelRestoran.ssdl|res://*/Models.ModelRestoran.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T2ILRBN\SQLEXPRESS;initial catalog=Restoran;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>